<!-- <form
    tuiCardLarge
    tuiForm="m"
    [formGroup]="form"
    [style.max-width.rem]="32">
    <header tuiHeader>
        <h2 tuiTitle>
            Create Reservation
        </h2>
    </header>
    <tui-textfield>
        <label tuiLabel>Guest Id:</label>
        <input
            formControlName="guest_id"
            placeholder="0"
            tuiTextfield />
    </tui-textfield>
    <tui-input-date-range
        style="z-index: 100;"
        formControlName="range"
        tuiUnfinishedValidator="Finish filling the field"
        [max]="max"
        [min]="min">
        Choose dates
        <input
            placeholder="From - To"
            tuiTextfieldLegacy />
    </tui-input-date-range>
    <footer>
        <button
            appearance="secondary"
            tuiButton
            type="button">
            Cancel
        </button>
        <button
            tuiButton
            type="button"
            (click)="submitForm()">
            Submit
        </button>
    </footer>
</form> -->
<p>WIP</p>
<!-- <form [formGroup]="form">
    <p>
        If a field is optional, but unfinished field should be marked as
        invalid, use
        <code>tuiUnfinishedValidator</code>
        directive
    </p>
    <tui-input-date-range
        formControlName="testValue"
        tuiUnfinishedValidator="Finish filling the field"
        [max]="max"
        [min]="min">
        Choose dates
        <input
            placeholder="From - To"
            tuiTextfieldLegacy />
    </tui-input-date-range>
</form> -->
