<div class="home-layout">
    <!-- Ignore this part, it is only here to position drawer inside the example block -->
    <div class="custom-portal"><ng-container #viewContainer /></div>
    <header tuiNavigationHeader>
        <span tuiNavigationLogo>
            <!-- <tui-icon icon="@tui.home" /> -->
            <span tuiFade>Best Hotel Reservation System Ever</span>
        </span>
        <hr />
        <tui-badge>READY FOR PROD</tui-badge>
    </header>

    <app-side-bar></app-side-bar>
</div>
