<table
    tuiTable
    [size]="size"
    [style.width.rem]="58">
    <thead>
        <tr>
            <th tuiTh>
                <div [tuiCell]="size">
                    <input
                        tuiCheckbox
                        type="checkbox"
                        [ngModel]="checked"
                        [size]="'m'"
                        (ngModelChange)="onCheck($event)" />
                    <!-- <span tuiTitle>Select</span> -->
                </div>
            </th>
            @for (columnLabel of ['id', 'First Name', 'Last Name', 'Email',
            'Phone numbers', 'Actions']; track $index) {
            <th tuiTh>{{columnLabel}}</th>

            }
        </tr>
    </thead>
    <tbody tuiTbody>
        <tr *ngFor="let item of data">
            <td tuiTd>
                <div [tuiCell]="size">
                    <input
                        tuiCheckbox
                        type="checkbox"
                        [size]="size === 'l' ? 'm' : 's'"
                        [(ngModel)]="item.selected" />
                </div>
            </td>
            <td tuiTd>
                <div [tuiCell]="size">
                    <span tuiTitle>
                        <span tuiStatus>
                            {{ '1'}}
                        </span>
                    </span>
                </div>
            </td>
            <td tuiTd>
                <div [tuiCell]="size">
                    <span tuiTitle>
                        {{ item.cell.name }}
                    </span>
                </div>
            </td>
            <td tuiTd>
                <span>{{ item.status.value
                    }}</span>
            </td>
            <td tuiTd>
                <span>{{ item.status.value
                    }}</span>
            </td>
            <td tuiTd>
                <span>{{ item.status.value
                    }}</span>
            </td>
            <td tuiTd>
                <span tuiStatus>
                    <button
                        tuiButton
                        type="button">
                        Edit {{'sadfsd'}}
                    </button>
                    <button
                        tuiButton
                        type="button">
                        Edit {{'sadfsd'}}
                    </button>

                </span>
            </td>
        </tr>
    </tbody>
</table>
